
body {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1024px) {
  .wrapper {
    background: url("https://wallpaperaccess.com/full/7282469.jpg"), #111111;
    color: rgb(238, 239, 255);
    height: 100vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

}


.Question{
    font-size:1.8rem;
    text-shadow: 0.4rem 0.4rem 0.3rem rgb(0, 0, 0);
    color: rgb(255, 255, 255);

}
.box{
   border: 0.5rem solid black;
   background-color: rgba(18, 19, 18, 0.5);
   width: 50rem;
   text-align: center;
   border-radius: 1rem;
   border-top-left-radius: 20%;
   border-bottom-right-radius: 20%;
   
}
.Mainoption{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 0.5rem;
}
.option{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 0.5rem;
}
 .btn{
    width: 30rem;
    height: 4rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    border:0.1rem solid white;
    
}


.option button:hover{
    background-color: white;
    color: black;
    border:0.1rem solid rgb(0, 0, 0);
}

.option button:focus{
    background-color: grey;
    color: white;
    text-shadow: 0.12rem 0.12rem rgb(0, 0, 0);
    border-radius: 1.5rem;
    border:0.1rem solid rgb(0, 0, 0);
}
.Next{
    width: 10rem;
    height: 3rem;
    background-color: #ff0000;
    font-size: 2rem;
    color: white;
    text-shadow: 0.1rem 0.1rem black;
    margin-bottom: 1rem;
    border-radius: 2rem;
    
}

.Next:hover{
    width: 11rem;
    background-color: #0000ff;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 0.1rem 0.1rem rgb(0, 0, 0);
}

.Link{
    text-shadow: 0.14rem 0.14rem black;
    border: 0.3rem solid black;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: grey; 
    width: 25rem;
    text-align: center;
    
}
.Home{
   color: #ff0000;
}

.score{
    font-size: xx-large;
    /* color: #111111; */
    border: 0.3rem solid black;
    text-shadow: 0.1rem 0.1rem black;
    background-color: grey; 
    width: 25rem;
    text-align: center;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
